@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  /* Tema Escuro Padrão */
  --cor-texto: #ebebeb;
  --cor-fundo: #2c2c2c;
  --cor-fundo-dois: #3c3c3c;
  --cor-destaque: #4bb766;
  --cor-hover: #00000034;
  }
.lightMode{
  /* Tema Claro Padrão */
  --cor-texto: #1d1d1d;
  --cor-fundo: #ebebeb;
  --cor-fundo-dois: #ffffff;
  --cor-destaque: #00a17b;
  --cor-hover: #00000034;
}
.themeTurtle{
  /* Tema Escuro Turtle */
  --cor-texto: #ebebeb;
  --cor-fundo: #2c2c2c;
  --cor-fundo-dois: #3c3c3c;
  --cor-destaque: #4bb766;
  --cor-hover: #00000034;
  }
.lightMode.themeTurtle{
  /* Tema Claro Turtle */
  --cor-texto: #1d1d1d;
  --cor-fundo: #ebebeb;
  --cor-fundo-dois: #ffffff;
  --cor-destaque: #00a17b;
  --cor-hover: #00000034;
}
.themeRoses{
  /* Tema Escuro Roses */
  --cor-texto: #ebebeb;
  --cor-fundo: #312929;
  --cor-fundo-dois: #403737;
  --cor-destaque: #ff5757;
  --cor-hover: #00000034;
}
.lightMode.themeRoses{
  /* Tema Escuro Roses */
  --cor-texto: #1d1d1d;
  --cor-fundo: #ffe4e4;
  --cor-fundo-dois: #ffffff;
  --cor-destaque: #ff6363;
  --cor-hover: #ffffff73;
}
.themeVioletNeon{
  /* Tema Escuro Violet Neon */
  --cor-texto: #ebebeb;
  --cor-fundo: #1d1d28;
  --cor-fundo-dois: #2f313a;
  --cor-destaque: #8800ff;
  --cor-hover: #00000034;
}
.lightMode.themeVioletNeon{
  /* Tema Escuro Violet Neon */
  --cor-texto: #1d1d1d;
  --cor-fundo: #f7fdff;
  --cor-fundo-dois: #eaeeff;
  --cor-destaque: #aa4aff;
  --cor-hover: #ffffff73;
}

*{
  padding: 0;
  border: 0;
  margin: 0;
}
html{
  font-family: Poppins;
  line-height: 1.5rem;
  overflow-x: hidden;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "box-1 box-1"
  "box-2 box-3"
  "box-4 box-4";
  /* cursor: url(../imgs/navigation.png), default; */
}



.idioma-ativo .icon-check{
  display: block;
}
.icon-check{
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.img-dark-mode{
  display: block;
}
.img-light-mode{
  display: none;
}
.lightMode .img-dark-mode{
  display: none;
}
.lightMode .img-light-mode{
  display: block;
}
.line{
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: var(--cor-destaque);
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.navbar-icon-moon{
  display: block;
}
.navbar-icon-sun{
  display: none;
}
.lightMode .navbar-icon-moon{
  display: none;
}
.lightMode .navbar-icon-sun{
  display: block;
}
a{
  color: inherit;
  text-decoration: none;
}

/* Header */

.navbar{
  height: 60px;
  width: 100%;
  display: flex;
  background-color: var(--cor-fundo-dois);
  justify-content: space-between;
  border-bottom: 2px solid var(--cor-destaque);
}
.navbar > ul{
  display: flex;
  list-style: none;
  height: 100%;
  width: 200px;
  justify-content: space-evenly;
}
.navbar > ul > li > button{
  cursor: pointer;
  z-index: 5;
}
.navbar > ul > li > button:hover{
  background-color: var(--cor-hover);
}
.info-btn.closed, .language-btn.closed, .palette-btn.closed{
  color: var(--cor-destaque);
}
.st0{
  fill: var(--cor-texto);
}

.st1{
  fill: none;
  stroke: var(--cor-texto);
  stroke-miterlimit: 10;
}
.navbar > ul > a:hover > svg{
  .st0{
    fill: var(--cor-destaque);
  }
  
  .st1{
    fill: none;
    stroke: var(--cor-destaque);
    stroke-miterlimit: 10;
  }
}
.navbar > ul > li{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar > ul > a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > ul > li > button{
  background: none;
  height: 100%;
  padding: 0 10px;
  color: var(--cor-texto);
}
.navbar > button{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.navbar .sub-menu-header{
  position: absolute;
  top: 65px;
  background-color: var(--cor-fundo-dois);
  width: 300px;
  height: auto;
  border-radius: 12px;
  border: 2px solid var(--cor-destaque);
  color: var(--cor-texto);
  display: grid;
  grid-template-rows: 0fr;
  overflow-x: hidden;
  z-index: 2;
  cursor: default;
  transition: 0.3s;
  right: 5px;
}

.navbar .sub-menu-header.closed{
  opacity: 0;
  right: 0;
  transform: translateX(100%);
}

.sub-menu-header > div{
  padding: 10px;
  width: 280px;
  color: var(--cor-texto);
}
.sub-menu-header > div > li > span{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}
.sub-menu-header > div > li > div{
  width: 100%;
  padding: 10px 0;
}

.language-menu > div > li > div, .info-menu > div > li > div{
  div, a{
    background-color: var(--cor-fundo-dois);
    width: 260px;
    padding: 10px;
    font: inherit;
    color: var(--cor-texto);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    span{
      padding-left: 15px;
    }
    img{
      height: 25px;
      width: 25px;
    }
  }
  div:hover, a:hover{
    color: var(--cor-destaque);
    background-color: var(--cor-hover);
  }
}

.themes-flex{
  padding-top: 10px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 280px;
}
.themes-flex::-webkit-scrollbar{
  height: 7px;
  background-color: transparent;
}
.themes-flex::-webkit-scrollbar-thumb{
  height: 7px;
  background-color: var(--cor-destaque);
  border-radius: 12px;
}
.themes-flex::-webkit-scrollbar-track{
  height: 7px;
  background-color: var(--cor-hover);
  border-radius: 12px;
}
.themes-flex .theme{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 12px;
  cursor: pointer;
}
.theme > img{
  border-radius: 12px;
  border: 2px solid var(--cor-texto);
}
.theme:hover > img{
  border: 2px solid var(--cor-destaque);
}

.sub-menu-header .color-value{
  display: flex;
  gap: 8px;
  background-color: var(--cor-hover);
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 16px;
}

.sub-menu-header input{
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  padding: 0px 4px;
  outline: none;
  border-bottom: 2px solid transparent;
}
.sub-menu-header input:focus{
  border-bottom: 2px solid var(--cor-destaque);
}

/* Sidebar */

.sidebar{
  box-sizing: border-box;
  height: 100dvh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--cor-fundo-dois);
  border-right: 2px solid var(--cor-destaque);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 0.3s;
  overflow-x: hidden;
  text-wrap: nowrap;
}
.sidebar.close{
  padding: 5px;
  width: 60px;
}

.sidebar::-webkit-scrollbar, ul li .sub-menu.show div::-webkit-scrollbar{
  display: none;
}

.sidebar ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo-sidebar{
    flex-grow: 1;
    font-weight: 600;
  }
}

.sidebar > ul > li:first-child > button > svg:first-child{
  display: block;
}
.sidebar > ul > li:first-child > button > svg:last-child{
  display: none;
}
.sidebar.close > ul > li:first-child > button > svg:first-child{
  display: none;
}
.sidebar.close > ul > li:first-child > button > svg:last-child{
  display: block;
}

.sidebar ul li.active a{
  color: var(--cor-destaque);
  background-color: var(--cor-hover);
  svg{
    stroke: var(--cor-destaque);
  }
}

.sidebar a, .sidebar .dropdown-btn, .sidebar .logo-sidebar{
  position: relative;
  border-radius: 12px;
  padding: 12px;
  text-align: none;
  color: var(--cor-texto);
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar li:hover > a{
  background-color: var(--cor-hover);
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.sidebar svg{
  flex-shrink: 0;
  stroke: var(--cor-texto);
}

.sidebar a span, .sidebar .dropdown-btn span{
  flex-grow: 1;
}

.sidebar .dropdown-btn:hover .line{
  height: 100%;
}

.sidebar-icon-meg{
  scale: 1.3;
  stroke-width: 0px;
}

.sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;

  > div{
    overflow: hidden;
  }
}

.sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}

.dropdown-btn svg{
  transition: 0.3s ease;
}

.sidebar .sub-menu a{
  padding-left: 2em;
}

.toggle-btn{
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: none;
  cursor: pointer;
}

.toggle-btn:hover{
  background-color: var(--cor-hover);
}

/* Conteúdo */

.main{
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 90vh;
}

.container{
  background-color: var(--cor-fundo-dois);
  padding: 32px 40px;
  margin: 0 auto;
  border: 2px solid var(--cor-destaque);
  border-radius: 24px;
  max-width: 84rem;
  h1{
    margin: 8px 0;
    text-align: center;
    font-size: 30px;
  }
  h2, h3{
    margin: 8px auto;
  }
  h2{
    display: flex;
    align-items: center;
    span{
      flex-grow: 1;
      height: 2px;
      border-radius: 2px;
      margin: 20px;
      background-color: var(--cor-destaque);
    }
  }
  p{
    margin: 12px 0;
  }
}

.container .text{
  margin: 32px auto;
}

/* Responsividade para Mobile */

@media(max-width: 900px){
  body{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "box-1"
    "box-3"
    "box-4"
    "box-2";
  }
  .sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 2px solid var(--cor-destaque);
    padding: 0;
    top: unset;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 2;

    ul{
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul li{
      height: 100%;
    }
    ul a, ul .dropdown-btn{
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span, ul li:first-child, .dropdown-btn svg:last-of-type{
      display: none;
    }

    ul li .sub-menu.show{
      position: fixed;
      bottom: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--cor-hover);
      border-top: 1px solid var(--cor-destaque);
      display: flex;
      justify-content: center;
      > div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
      a{
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
    ul li:hover a{
      color: var(--cor-destaque);
      svg{
        stroke: var(--cor-destaque);
      }
    }
    ul li.active a{
      color: var(--cor-destaque);
      transition-delay: 0s;
      svg{
        stroke: var(--cor-destaque);
        transition-delay: 0s;
      }
    }
  }
  .sidebar.close{
    width: 100%;
    padding: 0px;
  }
  .main{
    h2{
      display: flex;
      align-items: center;
      span{
        display: none;
      }
    }
  }
}

/* Conteúdo da Home */

.home-links{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.home-links{
  display: flex;
  align-items: center;
}

.home-links > a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 12px;
  border: 2px solid var(--cor-hover);
  .home-icon-meg{
    scale: 1.3;
  }
}

.home-links > a:hover{
  background-color: var(--cor-hover);
}