:root{
    --cor-texto: #ebebeb;
    --cor-fundo: #3c3c3c;
    --cor-fundo-dois: #2c2c2c;
    --cor-fundo-tres: #1d1d1d;
    --cor-destaque: #4bb766;
    --cor-hover: #00000034;
}

.input-group{
    display: flex;
    align-items: center;
    background-color: var(--cor-fundo);
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
}

.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    color: var(--cor-texto)
}

.input-field:focus{
    outline: none;
}

.input-icon{
    background-color: var(--cor-destaque);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    list-style: none;
    border-radius: 24px;
    padding: 14px;
    gap: 12px;
}

.item{
    flex: 1 1 200px;
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin: 12px;
    border-radius: 24px;
    padding: 24px;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-hover);
}

.item-title{
    width: 100%;
    padding: 4px 0;
    border-bottom: 2px solid var(--cor-texto);
}

.item-image{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.item-image img{
    width: 100%;
    border-radius: 8px;
}

#no_results{
    display: none;
    text-align: center;
}