@import url(../home.css);

:root{
    /* Tema Escuro Padrão */
    --cor-texto: #ebebeb;
    --cor-fundo: #1d1d28;
    --cor-fundo-dois: #2f313a;
    --cor-fundo-tres: #1d1d28;
    --cor-fundo-quatro: #272733;
    --cor-borda: #4d4d5c;
    --cor-destaque: #8800ff;
    --cor-hover: #00000034;
}

.meg-back{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    gap: 0 12px;
}
.meg-page-name{
    text-align: center;
    margin: 15px 0;
}
.meg-title{
    display: flex;
    gap: 36px;
    justify-content: center;
}
.meg-img{
    display: flex;
    justify-content: end;
    align-items: center;
}
.meg-icon-title{
    width: 150px;
    height: 150px;
}
.meg-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.meg-title-links{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 12px;
}

.age-options{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.age-section{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--cor-fundo-quatro);
    border: 2px solid var(--cor-hover);
    border-radius: 12px;
}
.age-section span{
    font-weight: 500;
}
.age-section select{
    font-family: inherit;
    color: inherit;
    background-color: var(--cor-fundo-dois);
    border: 2px solid var(--cor-borda);
    border-radius: 12px;
    padding: 8px;
    width: 100%;
    display: flex;
    cursor: pointer;
}
.age-section select:hover{
    border: 2px solid var(--cor-texto);
}

.items{
    display: flex;
    flex-direction: column;
    list-style: none;
    border-left: 2px solid var(--cor-borda);
    padding: 16px 0;
    gap: 24px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--cor-borda);
}
.item .date{
    font-weight: 600;
    margin-left: 24px;
}
.item .description, .item .event{
    padding-left: 24px;
}